:root {
  --primary: #00bcd4;
  --primary-lighten: #80deea;
  --primary-darken: #42c2ff;
  --secondary: #b4b4b4;
  --secondary-lighten: #f5f5f5;
  --secondary-darken: #8b8b8b;
  --white: #fff;
  --black: #000;
  --bgColor: rgb(246, 246, 246);
}
